<?xml version="1.0" encoding="UTF-8" ?>
<!--
Copyright (C) 2015, MuChu Hsu
Contributed by Muchu Hsu (muchu1983@gmail.com)
This file is part of BSD license

<https://opensource.org/licenses/BSD-3-Clause>
-->
<widget xmlns = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id = "net.ddns.bennu.story_chain"
        versionCode = "1126"
        version = "1.0.0">
    <!-- 軟體資訊 -->
    <name>故事接龍</name>
    <description>
        讀他的故事，寫我的故事，讓大家讀我們的故事。
    </description>
    <author href="https://github.com/muchu1983" email="muchu1983@gmail.com">
        MuChu Hsu
    </author>
    <icon src="img/icon.png"/>
    <!-- PhoneGap 設定 -->
    <platform name="android" />
    <preference name="fullscreen" value="true" />
    <!-- Plugin -->
    <plugin name="cordova-plugin-whitelist" spec="1.2.1" />
    <allow-navigation href="http://bennu.ddns.net/*" />
</widget>